<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

#left-box, #left-box ul, #left-box ul li, #left-box ul li a{
	float: left;
	margin:0;
	padding:0;
	line-height:1;
	flex: 3;
}
#left-box > ul{
	width: 100%;
	float: left;
	display:block;
	position:relative;
	list-style:none;
	padding: 0;
}
#left-box > ul li{
	display:block;
	position:relative;
	border-bottom:1px dotted #7d7d7d;
}
#left-box > ul li a{
	text-align: center;
	display:block;
	position:relative;
	margin:0;
	border-bottom:1px dotted #d9d9d9;
	padding:11px 1px;
	color:#000000;
	text-decoration:none;
	font-size:17px;
}

#left-box{
	background: rgb(202, 225, 226);
	border-top: 1px solid #C9C9C9;
	border-bottom: 1px solid #C9C9C9;
	border-left: 1px solid #C9C9C9;
	border-right: 1px solid #C9C9C9;
	padding: 0;
	padding-bottom:10px;
	float:left; 
	width:20%; 
	height:100%;
}

#middle-box{
	border-top: 1px solid #C9C9C9;
	border-bottom: 1px solid #C9C9C9;
	border-left: 1px solid #C9C9C9;
	border-right: 0;
}

#right-box{
	background: rgb(202, 225, 226);
	border-left: 0;
	padding-bottom:15px;
}	

@media screen and (min-width: 480px){
#map_row{
	height: 520px;
}

#middle-box{
	float:left;
	height:100%;
}
#right-box{
	float:left; 
	width:230px; 
	height:100%;
	border-top: 1px solid #C9C9C9;
	border-bottom: 1px solid #C9C9C9;
	border-right: 1px solid #C9C9C9;
}
#closebutton{
	display:none;
}
#filtro{
	width:50%;
}
#mobbutton{
display: none;
}
}

@media screen and (min-width: 1200px){
#map_row{
	width: 1140px;
}
#middle-box{
	width:58%; 
}
}

@media screen and (max-width: 1200px) and (min-width: 992px){
#middle-box{
	width:54%; 
}
}

@media screen and (max-width: 992px) and (min-width: 766px){
#middle-box{
	width:68%; 
}
#left-box{
	display: none;
}
#questionbox{
	display: none;
}

}

@media screen and (max-width: 766px) and (min-width: 480px){
#middle-box{
	width:66%; 
}
#left-box{
	display: none;
}
#questionbox{
	display: none;
}

}

@media screen and (max-width: 480px){
#map_row{
	height:65%;
}
#left-box{
	display: none;
}

#middle-box{
	position: relative;
}
#right-box{
	display: none;
	background-color: rgba(0, 0, 0, 0.5 );
	position: relative;
	top: -100%;
	text-align: center;
	height: 100%;
}
.input-group{
	padding: 15px 20px;
	background: white;
	margin: auto;
}
.list-group{
	display:none;
}
#mobbutton{
	float: right;
}
#questionbox{
	display:none;
}
#dp_container{
	border: 1px solid black;
}
#filtro{
	width:40%;
}
#recent_event{
	display: none;
}
}
	
	
#right-box > div{
	padding : 10px;
}
#months-list > ul{
	list-style:none;
	padding-left:0px;
	border: 1px ridge;
	border-color:#d9d9d9 #0e691f #d9d9d9;
	}
#months-list > ul li a{
	display:block;
	postion:relative;
	margin: 0;
	padding: 3px;
	border: 1px ridge;
	border-color:#d9d9d9 #0e691f #d9d9d9;
	color:#ffffff;
	text-decoration:none;
	font-size:15px;
	}